body {
	background-image: url('../photo/patt.png');
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	background: rgba(256, 256, 256, 0.8);
}
.row {
	width: 1175px;
	margin: 0 auto;
	padding: 25px 0 20px;
}
.w-25 {
	width: 25%;
}
.w-50 {
	width: 50%;
}
.fl {
	float: left;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.pad {
	padding-top: 10px;
}
.it {
	text-align: center;
	width: 24%;
	padding: 20px 0;
	border-right: 1px solid #2C71B8 ;
}
.row li:first-child {
	border-left: 1px solid #2C71B8 ;
}
.menu {
	color: #2D71B8;
	font-size: 16px;
}
.search {
	position: relative;
	top: 10px;
}
.text {
	background: none;
	border: 1px solid #2C71B8;
	color: #2C71B8;
	width: 55%;
	padding: 9px 15px;

}
.text:focus::-webkit-input-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: #2C71B8;
	font-size: 15px;

}
.submit {
	background-color: #2C71B8;
	border: none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3.5px;
	left: 143px;
	background-image: url('../photo/icon (4).png');
	background-repeat: no-repeat;
	background-position: center;
}
form {
	position: relative;
}
.basket {
	width: 40px;
	height: 40px;
	background: white;
	margin-left: 30px;
	background-image: url('../photo/icon (1).png');
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
}
.basket a {
	width: 40px;
	height: 40px;
	display: block;
	
}
.count {
	color: white;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #2C71B8;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}
.count a {
	text-decoration: none;
}
.drop-menu {
	display: none;
	background: #2D71B8;
	position: absolute;
	width: 202%;
	font-size: 16px;
	text-align: left; 
	top: 50px;
	left: -1px;
}
.drop-menu a {
	text-decoration: none;
}
.drop-menu li {
	padding: 10px;
}
.drop-menu li:hover {
	background: white;
}
.drop-menu li:hover a {
	color: #2D71B8;
}
.hov:hover .drop-menu {
	display: block;
}
.hov {
	position: relative;
}
.hov a {
	text-decoration: none;
}
.hov:hover {
	background: #2D71B8;
}
.hov:hover a {
	color: white;
}
.love {
	display: none;
	top: 25px;
	left: 110px;
	position: absolute;
	width: 17px;
	height: 7px;
	background-image: url('../photo/icon (7).png');
	background-position: 70% -410%
}
.hov:hover .love {
	display: block;
}
input {
	font-weight: 700;
}