* {
	box-sizing: border-box;
}
hr {
	margin: 1px;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.h3 {
	color: white;
	font-size: 44px;
	margin-top: 20px;
}
body {
	background-image: url('../photo/patt.png');
	font-family: 'Roboto', sans-serif;
}
header {
	background: rgba(256, 256, 256, 0.8);
}
.row {
	max-width: 1175px;
	margin: 0 auto;
	padding: 25px 0 25px;
}

.pad {
	padding-top: 6px;
}

.it {
	text-align: center;
	padding: 17px 0;
	border-right: 1px solid #2C71B8 ;
}
.it:hover:after {
	display: block;
	position: absolute;
	top: 20px;
	left: 105px;
	background-position: center;
	content: "";
	width: 10px;
	height: 10px;
	background-image: url("../photo/arrow-bot.png");
}
.itt:hover {
	display: block;
}
.row li:first-child {
	border-left: 1px solid #2C71B8 ;
}
.menu {
	color: #2D71B8;
	font-size: 17px;
}
.search {
	position: relative;
	top: 6px;
}
.text {
	background: none;
	border: 1px solid #2C71B8;
	color: #2C71B8;
	padding: 9px 15px;

}
.text:focus::-webkit-input-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: #2C71B8;
	font-size: 15px;

}
.submit {
	background-color: #2C71B8;
	border: none;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3.5px;
	left: 145px;
	background-image: url('../photo/icon (4).png');
	background-repeat: no-repeat;
	background-position: center;
}
form > div {
	color: white;
	margin: 10px 0;
}
.upp {
	text-transform: uppercase;
}
form > h5 {
	text-transform: uppercase;
	color: white;
}
form {
	position: relative;
}
.basket {
	width: 40px;
	height: 40px;
	background: white;
	background-image: url('../photo/basket.png');
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
}
.basket a {
	width: 40px;
	height: 40px;
	display: block;
	
}
.wp {
	padding: 0;
}
.count {
	color: white;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: #2C71B8;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}
.count a {
	text-decoration: none;
}
.drop-menu {
	display: none;
	background: #2D71B8;
	position: absolute;
	width: 202%;
	font-size: 16px;
	text-align: left; 
	top: 45px;
	left: -1px;
	z-index: 1;
}
.drop-menu a {
	text-decoration: none;
}
.drop-menu li {
	padding: 10px;
}
.drop-menu li:hover {
	background: white;
}
.drop-menu li:hover a {
	color: #2D71B8;
}
.hov:hover .drop-menu {
	display: block;
}
.hov {
	position: relative;
}
.hov a {
	text-decoration: none;
}
.hov:hover {
	background: #2D71B8;
}
.hov:hover a {
	color: white;
}
.love {
	display: none;
	top: 25px;
	left: 110px;
	position: absolute;
	width: 17px;
	height: 7px;
	background-image: url('../photo/icon (7).png');
	background-position: 70% -410%
}
.hov:hover .love {
	display: block;
}
input {
	font-weight: 700;
}





a:hover {
	text-decoration: none;
}
.w  {
	font-size: 14px;
	color: white;
	float: left;
}
.rig:after {
	content: "";
	display: inline-block;
	background: url("../photo/arrow.png") center;
	width: 10px;
	height: 10px;
	margin: 0 5px;
}
.select-f {
	margin: 35px 0 35px;
	-webkit-appearance: none;
	background: url(../photo/arrow-bot.png) no-repeat 95% 50%;
	background-color: #245b93;
	height: 40px;
	width: 101%;
	padding: 0 0 0 10px ;
	border: 1px solid white;
	color: white;

}
.select-f:hover {
	background: ;
	color: ;
}
.card {
	border: 1px solid white;
	margin-top: 25px;
	background: #245b93;
	color: white;
}
.card-img {
	position: relative;
	width: 100%;
	height: 180px;
}
.img1 {
	background: url(../photo/desktop.png) no-repeat center rgba(255,255,255,0.75);
}
.img2 {
	background: url(../photo/remoter.png) no-repeat center rgba(255,255,255,0.75);
}
.img3 {
	background: url(../photo/watch.png) no-repeat center rgba(255,255,255,0.75);
}
.img4 {
	background: url(../photo/laptop.png) no-repeat center rgba(255,255,255,0.75);
}
.img5 {
	background: url(../photo/mp3p.png) no-repeat center rgba(255,255,255,0.75);
}
.img6 {
	background: url(../photo/phone.png) no-repeat center rgba(255,255,255,0.75);
}
.img7 {
	background: url(../photo/tablet.png) no-repeat center rgba(255,255,255,0.75);
}
.f-l {
	border: 1px solid #245b93;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 85%;
}
.full {
	background: url(../photo/full.png) no-repeat center;
	top: 5%;
}
.full:hover {
	background: url(../photo/full1.png) no-repeat center;
	top: 5%;
	background-color: #245b93;
}
.like {
	background: url(../photo/like.png) no-repeat center;
	top: 25%;
}
.like:hover {
	background: url(../photo/like1.png) no-repeat center;
	top: 25%;
	background-color: #245b93;

}
.card-title {
	font-size: 22px;
	margin: 5%;
}
.mtl-10 {
	margin: 10px 0  0  10px;
}
b {
	text-transform: uppercase;
}
span {
	font-weight: 100;
}
.price {
	text-align: center;
	font-weight: 500;
	font-size: 46px;
	margin-bottom: 
}
.sup {
	font-size: 30px;
}
.btn-card {
	width: 80%;
	margin: 0 auto;
	display: block;
	color: white;
	border: 1px solid white;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	background: #245b93;
}
.btn-card-add::after {
	margin-left: 10px;
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: url(../photo/basket.png);
}
.btn-card-add {
	background: rgba(255,255,255,0.25);
}
